

<%= link_to "Back to Documents", documents_path %>
<h1><%= @document.name %></h1>

<% if @document.file.attached? %>
  <p>
    <%= link_to "Download File", rails_blob_path(@document.file, disposition: "attachment") %>

    <h2>PDF Preview:</h2>
<%= tag.iframe src: rails_blob_url(@document.file, disposition: "inline"), width: "100%", height: "600px" %>
 <h2>Chunks</h2>
 <ul>
 <% @chunks.each do |chunk|%>
  <li> <%= chunk %></li>
 <% end %>
 </ul>
  </p>
<% else %>
  <p>No file attached.</p>
<% end %>
